<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons@3.3.1/css/all/all.min.css">
    <link rel="stylesheet" href="../css/landingPage.css">
</head>
<body>
    <!-- navbar -->
    <div class="navbar">
        <a href="/home" class="logo_name">Name</a>
        <!-- link to profile -->
        <div class="profileDetails">
            <div class="newDoc"><i class="fi fi-br-plus"></i></div>
            <div class="home"><i class="fi fi-br-house-chimney"></i></div>
            <% if(imgUrl){ %>
            <img src="<%= imgUrl %>" alt="Logo" class="profile" height="40px" referrerpolicy="no-referrer">
            <% }else{ %>
            <img src="../assets/github.png" alt="Logo" class="profile" height="40px" referrerpolicy="no-referrer">
            <% } %>
        </div>    
    </div>

    <div class="logout">
        <button class="prof"><i class="fi fi-rr-document"></i><span>My Profile</span></button>
        <button class="setti"><i class="fi fi-rr-settings"></i><span>Settings</span></button>
        <button class="log"><i class="fi fi-rr-power"></i><span>Logout</span></button>
    </div>

    <!-- main-content -->
    <div class="main">

        <div class="CreateNew">
            <h1>+</h1>
            <p>Create New Document</p>
        </div>


        <div class="second">
            <div class="third">
                <div class="filters">
                    <div class="search-box">
                        <i class="fi fi-br-search"></i>
                        <input 
                            type="text" 
                            id="searchInput" 
                            placeholder="Search documents..."
                        >
                    </div>

                    <button data-filter="all">All</button>
                    <button data-filter="owner">Owned by Me</button>
                    <button data-filter="share">Shared with Me</button>
                </div>
            </div>

            <div class="owned">
                <div class="DocCard share">
                    <h3 class="title">The Summer</h3>
                    <p class="Owner">Owned by: ananya-G</p>
                    <p class="lastEdited">Last Edited: 2 hours ago</p>
                </div>

                <div class="DocCard share">
                    <h3 class="title">The Winter</h3>
                    <p class="Owner">Owned by: ananya-G</p>
                    <p class="lastEdited">Last Edited: 2 hours ago</p>
                </div>

                <div class="DocCard share">
                    <h3 class="title">The Winter</h3>
                    <p class="Owner">Owned by: ananya-G</p>
                    <p class="lastEdited">Last Edited: 2 hours ago</p>
                </div>

                <div class="DocCard owner">
                    <h3 class="title">The Sunrise</h3>
                    <p class="Owner">Owned by: prasad1-S</p>
                    <p class="lastEdited">Last Edited: 2 hours ago</p>
                </div>

                <div class="DocCard owner">
                    <h3 class="title">The Sunset</h3>
                    <p class="Owner">Owned by: prasad1-S</p>
                    <p class="lastEdited">Last Edited: 2 hours ago</p>
                </div>

                <div class="DocCard owner">
                    <h3 class="title">The Monsoon</h3>
                    <p class="Owner">Owned by: prasad1-S</p>
                    <p class="lastEdited">Last Edited: 2 hours ago</p>
                </div>
                <% if (locals.data) { %>
                  <% data.forEach(el => { %>
                
                    <% let docType; %>
                    <% if (el.role !== 'OWNER') { %>
                      <% docType = 'share'; %>
                    <% } else { %>
                      <% docType = 'owner'; %>
                    <% } %>
                    
                    <div class="DocCard <%= docType %>" data-doc-id="<%= el.docid %>">
                      <h3 class="title"><%= el.title %></h3>
                      <p class="Owner">Owned by user id: <%= el.ownerid %></p>
                      <p class="lastEdited">Last Edited: <%= el.updatedat %></p>
                    </div>
                
                  <% }) %>
                <% } %>

            </div>
        </div>
    </div>

    <% if (locals.notification) { %>
        <div class="toast <%= locals.notificationType || 'success' %>" id="loginToast">
            <% if (locals.notificationType==='error' ) { %>
                <i class="fi fi-br-cross-circle"></i>
                <% } else if (locals.notificationType==='info' ) { %>
                    <i class="fi fi-br-info"></i>
                    <% } else { %>
                        <i class="fi fi-br-check-circle"></i>
                        <% } %>
                            <span>
                                <%= notification %>
                            </span>
                            <div class="toast-progress"></div>
        </div>
        <% } %>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../js/landingPage.js"></script>
</body>
</html>